# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta

# JetBrains Rider
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db

# Crash logs
sysinfo.txt

# Visual Studio Code
.vscode/

# Rider
*.DotSettings.user

# Builds
# We allow Build/ folder because some users build to root.
# We explicitly ignore specific binary builds but allow WebGL artifacts if they happen to be there.
# [Bb]uild/  <-- COMMENTED OUT to allow checks below
*.apk
*.aab
*.zip
*.exe
*.app
*.xcodeproj
*.xcworkspace

# Unity Collaborate
.collab/

# Addressable Assets
AssetBundles/

# Allow Build folder in Docs for GitHub Pages
!Docs/Build/
!Docs/TemplateData/

# Allow Build folder in Root (Common mistake)
!Build/
